body{

}
.choice-container{
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    border-radius: 4px;
    background: #ffffbf;
    font-size: 3rem;
    min-width: 80rem;
}
.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: black;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

@media screen and (max-width: 700px){
    .choice-container{
        min-width: 40rem;
    }
}