body{

}
.choice-container{
    display: flex;
    margin-bottom: .5rem;
    width: 100%;
    border-radius: 4px;
    background: #ffffbf;
    font-size: 3rem;
    min-width: 80rem;
}
.choice-container:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: black;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct{
    background: linear-gradient(32deg, green, 0%, green, 100%)
}

.incorrect{
    background: linear-gradient(32deg, red, 0%, red, 100%)
}

/* Heads up Display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix{
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height:3rem;
    border: 0.2rem solid green;
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

@media screen and (max-width: 700px){
    .choice-container{
        min-width: 40rem;
    }
}