@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    font-family: 'Exo 2', sans-serif;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    background-image: url("../images/background.gif");
}

/* Add card effect to menu. */
.container {
    text-align: center;
    width: 800px;
    max-width: 80%;
    color: white;
    background-color: #5A5A5A;
    border-radius: 5px;
    padding: 2em 1em;
    box-shadow: gray 0 0 10px 2px;
}

/* Arrange buttons for a grid display */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}



/* Adds colour to buttons */
.btn {
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

/* Add styling to h tags */
h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    font-size: 3rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-align: center;
}

p {
    font-size: 2rem;
    text-align: center;
}

/* Add effects to buttons */
.btn:hover {
    transform: scale(1.02);
}

.btn.correct {
    background-color: green;
}

.btn.wrong {
    background-color: red;
}

.continent-btn,
.next-btn {
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

/* Add styling to start button */
.start {
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 1em auto;
    font-size: 2.5rem;
    color: white;

}

.start:hover {
    transform: scale(1.02);
}

.countdown-timer {
    font-size: 4rem;
}

.score-container {
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

.icon {
    font-size: 10rem;
    text-decoration: none;
}

/* Adds styling to list on main page */
ul {
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    flex-direction: column;
    padding-right: 20px;
    font-size: 1.3rem;
}

.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2rem;
    color: white;
}

.home-btn a i {
    margin: 1em 0;
}

.btn-next {
    display: flex;
    justify-content: center;
}

/* For mobile devices */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 80%;
        padding: 2em 1em;
    }

    .btn-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }

    .main-title {
        font-size: 1.7rem;
        padding-left: 5px;
        padding-right: 5px;
    }

    .btn {
        font-size: 1.4rem;
        padding: 2px 30px;
        text-align: center;
    }

    #question {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.5rem;
        padding-left: 10px;
        text-align: center;
    }

    h3 {
        font-size: 1.2rem;
        text-align: center;
    }

    p {
        font-size: 1.2rem;
        padding-left: 20px;
        text-align: center;
    }

    .start {
        font-size: 1.5rem;
    }
}

/* Add font-size to list on main page */
@media only screen and (max-width: 395px) {
    li {
        font-size: 1rem;
    }



}