@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

/* Add card effect to menu. */
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

/* Arrange buttons for a grid display */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 3rem;
}




.btn:hover{
    transform: scale(1.05);
}



