@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    background-image: url("../images/background.gif") ;
}

/* Add card effect to menu. */
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: gray 0 0 10px 2px;
}

/* Arrange buttons for a grid display */

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}



/* Adds colour to buttons */
.btn {
    background-color: #0096FF;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 2.5rem;
    color: white;
}

h1{
    font-size: 4rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 3rem;
}

.btn:hover{
    transform: scale(1.02);
}

.btn.correct {
background-color: green;
}

.btn.wrong{
background-color: red;
}

.continent-btn, .next-btn {
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.start{
    background-color: #0096FF;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 2.5rem;
    color: white;
    
}
.start:hover{
    transform: scale(1.02);
}

@media only screen and (max-width: 768px){
    .container{
        max-width: 50%;
    }
    .btn-grid{
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
        margin: 20px 0;
    }
}
